 //siempre camelcase//


 $fontIdem: 'Bebas Neue';
 $fontcopy: 'Yellowtail';
 $miColor: #242526;
 
%estiloDeletras{
    font-family: $fontIdem;
    color:white
}

@mixin miEstilo ($display,$ubicacion) {
    display: $display;
    justify-content: $ubicacion;
}

 //Nombran el atributo que asignamos con $, luego lo llamamos por su nombre//