#contacto{
    
    align-items: center;
    
   
       .text-white{
        margin-left: 48%;
       }
       .label2{
        margin-left: 47%;
       }
        button{
            margin-left: 47%;
            margin-top: 3%;
        }
    }

    
