#contacto{
    
    align-items: center;
    text-align: center;

    .ticont{
        text-align: center;
        margin-left: 0;
    }
        button{   
            margin-top: 3%;
            align-items: center;
            width: 100px;
            border-radius: 33px;
            font-family: $fontIdem;
            font-size: 20px;
         
        }
        .mb-3{
            input{
                width: 200px;
                margin: auto;
            }
            textarea{
                width: 400px;
                height: 100px;
                margin: auto;
            }
        }
    }

    @media (max-width: 550px){
        
        #contacto .ticont{
            text-align: center;
            margin-left: 0;
            
        }
       #botoncito{
        margin-bottom: 10%;
       }
       
    }
    
    
