#events{
    h2{
        text-align: center;
        margin-left:0 ;
    }
    .table{
        background-color: rgba(0, 0, 0, 0.455);
    }
}
@media (max-width: 550px) {
    #events h2{
        margin: 0;
        text-align: center;
    }

    }