h1 {
    font-family: $fontIdem;
    font-size: 80px;
    color: white;
    text-align: center;


}

nav {
    position: relative;
    background: rgba(0, 0, 0, 0.634);
   
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px
    
    
}

li {
    @extend %estiloDeletras;
    font-size: 20px;
    padding: 10px;
    list-style: none;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: gray;
            transition: .5s;

            &:active {
                color: rgb(45, 45, 140)
            }
        }

    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;

    .parrafoFoot {
        text-align: center;
        @extend %estiloDeletras;
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;

    }
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    li {
        font-size: 25px;
        padding: 1%;
        list-style: none;
        align-content: center;
        margin-bottom: 0;



        &:hover {
            transform: scale(1.5);
            transition: .5s;
        }

        a {
            color: white;

        }
    }

}