h1 {
    font-family: $fontIdem;
    font-size: 80px;
    color: white;
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 40%, rgba(64, 64, 64, 0.6867121848739496) 54%, rgba(0, 0, 0, 1) 70%);
    

}

nav{
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 40%, rgba(64, 64, 64, 0.6867121848739496) 54%, rgba(0, 0, 0, 1) 70%);
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    li{
       @extend %estiloDeletras;
       font-size: 20px;
       padding: 30px;  
       list-style: none;
        
    }

    
    }
}