#participation{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    
    .card{
        border: none;
        padding: 3%;
        background-color: rgba(0, 0, 0, 0);
        align-content: center;
        &:hover{
            transform: scale(1.2);
            transition: 1s;   
        }
        p{
            text-align: center;
        }   
    }
}
@media (max-width: 550px) {

    .card{
        margin: auto;
    }
}

@media (min-width: 2000px){

    #participation {
        justify-content: center;
        margin-left: 0;
    }
}